*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    background-color: rgb(27, 175, 201);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem  0rem;
}

h1{
    font-size: 4rem;
    color: rgb(10, 103, 119);
}

.container .game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    background-color: transparent;
    border: none;
    
}

.box{
    width: 17vmin;
    height: 17vmin;
    font-size: 4rem;
    border: none;
    background-color: rgb(63, 145, 159);
    color: rgb(76, 185, 205);
    box-shadow: 0px 0px 1rem rgb(215, 215, 215);
    border-radius: 2rem;
    cursor: pointer;
}

.box:hover{
    background-color: rgb(27, 175, 201);
}

.reset_btn{
    border: none;
    background-color: black;
    color: #ffffff;
    border: 2px solid black;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.3rem;
}

.reset_btn:hover{
    background-color: rgb(27, 175, 201);
    color: #000000;
}

.reset_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hide{
    display: none;
}

.box:disabled {
    background-color: #5a7d92;
    color: #ffffff;
    cursor: not-allowed;
}