* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {

    font-family: "Outfit";
    background-color: #1a2b33;
}

@font-face {
    font-family: "Outfit";
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}

.main {

    width: 100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main .parent_2 {
    
    width: 800px;
    height: 350px;
    border-radius: 12px;
    background-color: #1e3640;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main .parent_2 .chlid_2 {
    
    width: 90%;
    padding: 10px;
    height: 150px;
    color: #1f3641;
    border-radius: 30px;
    background-color: #1a2b33;
    
    display: flex;
    gap: 10px;
}

.main .parent_2 .chlid_1 h2{

    color: #a9bec8;
}

.main .parent_2 .chlid_2 .grand_child_1,
.main .parent_2 .chlid_2 .grand_child_2 {
    
    width: 50%;
    height: 100%;
    font-size: 90px;
    font-weight: 800;
    color: #a8bfc9;
    border-radius: 30px;
    transition: 0.8s all;
    background-color: transparent;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .parent_2 .chlid_3 h3{

    color: #728187;
    font-weight: 400;
}

.main .parent_3 {

    width: 300px;
    height: 60px;
    border-radius: 10px;
}

.main .parent_3 button {
    
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 18px;
    color: #1a2b33;
    border-style: none;
    border-radius: 10px;
    background-color: #f2b138;
}

