* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}

body {

    background-color: rgb(27, 175, 201);
}

main {

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container_1 {

    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container_1 h1 {

    font-size: 4rem;
    color: rgb(10, 103, 119);
}


.main_Botton {

    width: 100%;
    height: 100%;
    background-color: transparent;
    
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.board-row {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.main_Botton .board-row .square {

    border: none;
    width: 17vmin;
    height: 17vmin;
    color: black;
    cursor: pointer;
    font-size: 4rem;
    font-weight: 800;
    border-radius: 2rem;
    background-color: rgb(63, 145, 159);
    box-shadow: 0px 0px 1rem rgb(215, 215, 215);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_Botton .board-row .square:hover {

    background-color: rgb(27, 175, 201);

}


.reset_btn {

    width: 8rem;
    height: 3rem;
    border: none;
    color: #ffffff;
    font-size: 1.3rem;
    border-radius: 2rem;
    background-color: black;
    border: 2px solid black;
}

.reset_btn:hover {

    color: #000000;
    font-weight: 700;
    border: 2px solid black;
    background-color: transparent;
}

.reset_btn {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}